<p>
  <span class="display-bar display-bar_rank" [style.width.px]="transformer.rank * xFactor" [matTooltip]="'Rank - ' + transformer.rank"></span>
  <span class="display-bar display-bar_strength" [style.width.px]="transformer.strength * xFactor" [matTooltip]="'Strength - ' + transformer.strength"></span>
  <span class="display-bar display-bar_intelligence" [style.width.px]="transformer.intelligence * xFactor" [matTooltip]="'Intelligence - ' + transformer.intelligence"></span>
  <span class="display-bar display-bar_speed" [style.width.px]="transformer.speed * xFactor" [matTooltip]="'Speed - ' + transformer.speed"></span>
  <span class="display-bar display-bar_endurance" [style.width.px]="transformer.endurance * xFactor" [matTooltip]="'Endurance - ' + transformer.endurance"></span>
  <span class="display-bar display-bar_courage" [style.width.px]="transformer.courage * xFactor" [matTooltip]="'Courage - ' + transformer.courage"></span>
  <span class="display-bar display-bar_firepower" [style.width.px]="transformer.firepower * xFactor" [matTooltip]="'Firepower - ' + transformer.firepower"></span>
  <span class="display-bar display-bar_skill" [style.width.px]="transformer.skill * xFactor" [matTooltip]="'Skill - ' + transformer.skill"></span>
</p>