<div class="form-container">
  <mat-form-field class="limited-width">
    <input type="text" matInput placeholder="Name" [(ngModel)]="transformer.name">
  </mat-form-field>
  <mat-form-field class="limited-width">
    <mat-label>Allegiance</mat-label>
    <mat-select [(ngModel)]="transformer.allegiance">
      <mat-option value="Autobot">Autobot </mat-option>
      <mat-option value="Decepticon">Decepticon </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Strength" [(ngModel)]="transformer.strength">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Intelligence" [(ngModel)]="transformer.intelligence">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Speed" [(ngModel)]="transformer.speed">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Endurance" [(ngModel)]="transformer.endurance">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Rank" [(ngModel)]="transformer.rank">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Courage" [(ngModel)]="transformer.courage">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Firepower" [(ngModel)]="transformer.firepower">
  </mat-form-field>
  <mat-form-field class="very-limited-width">
    <input type="number" matInput placeholder="Skill" [(ngModel)]="transformer.skill">
  </mat-form-field>
</div>
<div class="actions-container flex-container">
  <button mat-button [routerLink]="['/transformers']">Back</button>
  <button mat-raised-button color="primary" (click)="saveClicked()">Save</button>
</div>