<div class="progress-container">
  <mat-progress-bar mode="determinate" [value]="correctness"></mat-progress-bar>
  <span class="progress-container_text">{{correctness}} % correct</span>
  <span class="mat-caption">( You need more than 50 % right guesses to win! )</span>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="floaters-container">
      <h2>Autobots</h2>

      <mat-list cdkDropList #autobotsList="cdkDropList" [cdkDropListData]="autobots"
        [cdkDropListConnectedTo]="[winnersList, loosersList]" class="drop-list" (cdkDropListDropped)="drop($event)">
        <mat-list-item class="drop-box" *ngFor="let transformer of autobots" cdkDrag>
          {{transformer.name}}</mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="floaters-container">
      <h2>Winners</h2>

      <mat-list cdkDropList #winnersList="cdkDropList" [cdkDropListData]="winners" class="drop-list"
        (cdkDropListDropped)="drop($event)">
        <mat-list-item class="drop-box" *ngFor="let transformer of winners" cdkDrag>
          {{transformer.name}}
          <mat-icon matListIcon>{{transformer.status == "Yes" ? "check_circle" : "error"}}</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="floaters-container">
      <h2>Decepticons</h2>

      <mat-list cdkDropList #decepticonsList="cdkDropList" [cdkDropListData]="decepticons"
        [cdkDropListConnectedTo]="[winnersList, loosersList]" class="drop-list" (cdkDropListDropped)="drop($event)">
        <mat-list-item class="drop-box" *ngFor="let transformer of decepticons" cdkDrag>
          {{transformer.name}}</mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="floaters-container">
      <h2>Loosers</h2>

      <mat-list cdkDropList #loosersList="cdkDropList" [cdkDropListData]="loosers" class="drop-list"
        (cdkDropListDropped)="drop($event)">
        <mat-list-item class="drop-box" *ngFor="let transformer of loosers" cdkDrag>
          {{transformer.name}}
          <mat-icon matListIcon>{{transformer.status == "Yes" ? "check_circle" : "error"}}</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>