<button mat-button [routerLink]="['/transformer', undefined]">Add new Transformer</button>
<mat-tab-group>
  <mat-tab label="Autobots">
    <mat-list>
      <mat-list-item *ngFor="let transformer of autobots">
        <img matListAvatar src="assets\autobot-logo.png" alt="autobot-logo">
        <h3 matLine> {{transformer.Name}} </h3>
        <p matLine>
          <span> Rank - {{transformer.Rank}} </span>
          <span> Strength - {{transformer.Strength}} </span>
        </p>
        <a [routerLink]="['/transformer', transformer.Id]">
          <mat-icon matListIcon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="deleteClicked(transformer.Allegiance, transformer.Id)">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <!-- <mat-action-list *ngFor="let transformer of autobots">
      <a mat-list-item [routerLink]="['/transformer', transformer.Id]">{{transformer.Name}}</a>
    </mat-action-list> -->
  </mat-tab>
  <mat-tab label="Decepticons">
    <mat-list>
      <mat-list-item *ngFor="let transformer of decepticons">
        <img matListAvatar src="assets\decepticon-logo.png" alt="decepticon-logo">
        <h3 matLine> {{transformer.Name}} </h3>
        <p matLine>
          <span> Rank - {{transformer.Rank}} </span>
          <span> Strength - {{transformer.Strength}} </span>
        </p>
        <a [routerLink]="['/transformer', transformer.Id]">
          <mat-icon matListIcon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="deleteClicked(transformer.Allegiance, transformer.Id)">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <!-- <mat-action-list *ngFor="let transformer of decepticons">
      <a mat-list-item [routerLink]="['/transformer', transformer.Id]">{{transformer.Name}}</a>
    </mat-action-list> -->
  </mat-tab>
</mat-tab-group>