<button mat-button [routerLink]="['/transformer', undefined]">Add new Transformer</button>
<mat-tab-group>
  <mat-tab label="Autobots">
    <mat-list>
      <mat-list-item *ngFor="let transformer of autobots">
        <img matListAvatar src="assets\autobot-logo.png" alt="autobot-logo">
        <h3 matLine> {{transformer.name}} </h3>
        <p matLine>
          <span> Rank - {{transformer.rank}} </span>
          <span> Strength - {{transformer.strength}} </span>
        </p>
        <button mat-icon-button (click)="editClicked(transformer)">
          <mat-icon matListIcon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClicked(transformer.allegiance, transformer.id)">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Decepticons">
    <mat-list>
      <mat-list-item *ngFor="let transformer of decepticons">
        <img matListAvatar src="assets\decepticon-logo.png" alt="decepticon-logo">
        <h3 matLine> {{transformer.name}} </h3>
        <p matLine>
          <span> Rank - {{transformer.rank}} </span>
          <span> Strength - {{transformer.strength}} </span>
        </p>
        <button mat-icon-button (click)="editClicked(transformer)">
          <mat-icon matListIcon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClicked(transformer.allegiance, transformer.id)">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>